.my-card {
  width: 96%;
  bottom: -10%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 60px;
  background: rgb(185, 160, 144);
  background: linear-gradient(
    135deg,
    rgba(151, 120, 96, 0.3) 0%,
    rgba(185, 160, 144, 1) 95%
  );
}

.my-card .button-container {
  bottom: 10px;
  position: absolute;
}

.my-card .info-container {
  bottom: 10px;
  padding: 10px 10px 0px 45%;
  width: 50%;
  position: relative;
  font-weight: 800;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 2.5px solid #b9a090;
  left: -6px;
  top: -6px;
}

.my-card > img {
  position: absolute;
  top: 5%;
  left: -5%;
  height: 84%;
}
